<mat-tab-group mat-align-tabs="center">
        <mat-tab label="Edit Department">
                <ng-template matTabContent >
                                <alert></alert>

                                    <form id="departmentForm" [formGroup]="form" (ngSubmit)="submit()">
                                                        <mat-form-field>
                                                          <input matInput placeholder="Department Id" [(ngModel)]='departmentdataId' formControlName="depId"
                                                            class="form-control" name="depId" ngModel required>
                                                        </mat-form-field>
                                                        <br>
                                                        <mat-form-field>
                                                          <textarea rows="4" cols="50" matInput placeholder="Description"  [(ngModel)]='departmentdataDes'
                                                            formControlName="DepDes" class="form-control" name="DepDes" ngModel required></textarea>
                                                        </mat-form-field>
                                                        <br>
                                                        <button id="btnSubmit" mat-raised-button type="submit" color="primary">Submit</button>
                                                      </form>
                                                
                </ng-template>
        </mat-tab>
        <mat-tab label="Edit Employee">
                        
                        <ng-template matTabContent>
<alert></alert>

                                        <form id="empform" [formGroup]="form1" (ngSubmit)="submit1()">
                                                        <mat-form-field>
                                                          <input matInput placeholder="Employee Number"  [(ngModel)]='employeeNumber'
                                                            formControlName="employeeNum" class="form-control" name="employeeNum" ngModel required 
                                                            >
                                                        </mat-form-field>
                                                        <br>
                                                        <mat-form-field>
                                                          <input matInput placeholder="Full Name" [(ngModel)]='Name' formControlName="empName"
                                                            class="form-control" name="empName" ngModel required>
                                                        </mat-form-field>
                                                        <br>
                                                          <mat-form-field>
                                                            <input matInput [matDatepicker]="picker" [(ngModel)]='DateOfBirth ' 
                                                            formControlName="empdob" class="form-control" ngModel required placeholder="Date Of Birth">
                                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                                                          </mat-form-field>
                                                          <mat-form-field>
                                                            <input matInput placeholder="Age" [(ngModel)]='Age' formControlName="age"
                                                              class="form-control" name="age" ngModel required>
                                                          </mat-form-field>
                                                          <br>
                                                          <mat-form-field>
                                                            <mat-label>Department</mat-label>
                                                            <mat-select [(ngModel)]="DepartmentId" name="empdepartment"  formControlName="empDep"
                                                            class="form-control" name="empDep" ngModel required>
                                                              <mat-option *ngFor="let de of departments" [value]="de.Id">
                                                                {{de.Description}}
                                                              </mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                          <br>
                                                          <button id="btnSubmit" mat-raised-button type="submit" color="primary">Submit</button>
                                                      </form>
                                </ng-template>
        </mat-tab>


</mat-tab-group>